@{
    ViewData["Title"] = "Reporting";
}
<div class="container my-5">
    <h1 class="text-center mb-4">Picture Gallery</h1>
    <div class="row gallery">
        <div class="col-lg-3 col-md-4 col-6 mb-4">
            <img src="/Photo/1.png" class="img-fluid" alt="Sample Image 1" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/Photo/1.png">
        </div>
        <div class="col-lg-3 col-md-4 col-6 mb-4">
            <img src="~/Photo/Emblem_of_the_Revanche.png" class="img-fluid" alt="Sample Image 2" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/Photo/Emblem_of_the_Revanche.png">
        </div>
        <div class="col-lg-3 col-md-4 col-6 mb-4">
            <img src="~/Photo/6.png" class="img-fluid" alt="Sample Image 3" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/Photo/6.png">
        </div>
        <div class="col-lg-3 col-md-4 col-6 mb-4">
            <img src="~/Photo/revpng.png" class="img-fluid" alt="Sample Image 4" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/Photo/revpng.png">
        </div>
        <div class="col-lg-3 col-md-4 col-6 mb-4">
            <img src="~/Photo/Emblem_of_the_Revanche.png" class="img-fluid" alt="Sample Image 2" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/Photo/Emblem_of_the_Revanche.png">
        </div>
        <div class="col-lg-3 col-md-4 col-6 mb-4">
            <img src="~/Photo/6.png" class="img-fluid" alt="Sample Image 3" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/Photo/6.png">
        </div>
        <div class="col-lg-3 col-md-4 col-6 mb-4">
            <img src="~/Photo/revpng.png" class="img-fluid" alt="Sample Image 4" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/Photo/revpng.png">
        </div>
        <div class="col-lg-3 col-md-4 col-6 mb-4">
            <img src="~/Photo/Emblem_of_the_Revanche.png" class="img-fluid" alt="Sample Image 2" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/Photo/Emblem_of_the_Revanche.png">
        </div>
        <div class="col-lg-3 col-md-4 col-6 mb-4">
            <img src="~/Photo/6.png" class="img-fluid" alt="Sample Image 3" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/Photo/6.png">
        </div>
        <div class="col-lg-3 col-md-4 col-6 mb-4">
            <img src="~/Photo/revpng.png" class="img-fluid" alt="Sample Image 4" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="/Photo/revpng.png">
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <img src="" class="img-fluid" id="modalImage" alt="Large Image">
            </div>
        </div>
    </div>
</div>