@{
    ViewData["Title"] = "Donations";
}

<h1>Donations</h1>

<footer class="footer mt-5 py-3">
    <div class="container">

        <div class="row">
            <div class="col-md-3 border-end">
                <h5>Реквізити</h5>
                <p title="Нажмите, чтобы скопировать в буфер обмена">ОТП Банк<br><span onclick="copyToClipboard('5555555555555555')">5555 5555 5555 5555</span></p>
                <p title="Нажмите, чтобы скопировать в буфер обмена">Моно Банк<br><span onclick="copyToClipboard('5555555555555555')">5555 5555 5555 5555</span></p>
                <p title="Нажмите, чтобы скопировать в буфер обмена">Приват Банк<br><span onclick="copyToClipboard('5555555555555555')">5555 5555 5555 5555</span></p>
                <p title="Нажмите, чтобы скопировать в буфер обмена">УкрСиб Банк<br><span onclick="copyToClipboard('5555555555555555')">5555 5555 5555 5555</span></p>
                <p>PayPal:<br><a href="mailto:vkakoito@gmail.com">vkakoito@gmail.com</a></p>

                <hr class="my-3">

                <img src="qr-code.png" alt="QR Code" class="img-fluid mt-3">
                <p class="mt-3">Для повної перемоги нам потрібна ваша допомога, наведіть смартфону на QR код, щоб швидко перевести кошти</p>
            </div>

            <div class="col-md-3 border-end" style="word-wrap: break-word;">
                <h5>Ппереказ криптовалют</h5>
                <p title="Нажмите, чтобы скопировать в буфер обмена">BTC:<br><span onclick="copyToClipboard('16ydRqiu2y9VVhaByeZD4ZxBNYsA8TRb99W')">16ydRqiu2y9VVhaByeZD4ZxBNYsA8TRb99W</span></p>
                <p title="Нажмите, чтобы скопировать в буфер обмена">ETH:<br><span onclick="copyToClipboard('0xce2497a387c31c57eb0257d1b00c37b4ee4c732f')">0xce2497a387c31c57eb0257d1b00c37b4ee4c732f</span></p>
                <p title="Нажмите, чтобы скопировать в буфер обмена">TRC20:<br>TUCi52wocgdcehYf621hX715ESYVgGbyy</p>

                <hr class="my-3">

                <p><strong>Складнощі з переказом?</strong><br>Зателефонуй:<br>+380666666666<br>+380736666666</p>
                <p><strong>По іншим питанням:</strong><br><a href="mailto:vkakoito@gmail.com">vkakoito@gmail.com</a></p>

                <h5 class="mt-4">Ми у соціальних мережах:</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fas fa-paper-plane"></i></a></li>
                </ul>
            </div>


            <div class="col-md-3 border-end">
                <h5>Поповнення (UAH)</h5>
                <p><strong>Найменування одержувача: </strong>БО "ФАУНДЕЙШН"</p>
                <p><strong>Код одержувача: </strong>212121212</p>
                <p><strong>Назва банку: </strong>АТ КБ «ПриватБанк»</p>
                <p title="Нажмите, чтобы скопировать в буфер обмена"><strong>Рахунок одержувача у форматі IBAN:</strong><br><span onclick="copyToClipboard('UA1000000000000000000000000')">UA1000000000000000000000000</span></p>

                <hr class="my-3">

                <p><strong>Найменування одержувача: </strong>БЛАГОДІЙНА ОРГАНІЗАЦІЯ «БЛАГОДІЙНИЙ ФОНД»</p>
                <p><strong>Код одержувача: </strong>212121212</p>
                <p><strong>Назва банку: </strong>Головне Управління по м.Києву та Київській області АТ "Ощадбанк"</p>
                <p title="Нажмите, чтобы скопировать в буфер обмена"><strong>Рахунок одержувача у форматі IBAN:</strong><br><span onclick="copyToClipboard('UA1000000000000000000000000')">UA1000000000000000000000000</span></p>
            </div>

            <div class="col-md-3">
                <h5>ПОПОВНЕННЯ ІЗ-ЗА КОРДОНУ (USD)</h5>
                <p><strong>Company Name: </strong>CO CHARITABLE FOUNDATION</p>
                <p title="Нажмите, чтобы скопировать в буфер обмена"><strong>IBAN Code:</strong><br><span onclick="copyToClipboard('UA1000000000000000000000000')">UA1000000000000000000000000</span></p>
                <p><strong>Name of the bank: </strong>JSC CB "PRIVATBANK", 1D HRUSHEVSKOHO STR., KYIV, 01001, UKRAINE</p>
                <p><strong>Bank SWIFT Code: </strong>PBANUA2X</p>
                <p><strong>Company address: </strong>02141, Ukraine, Kiev, Mishugi ra st., 10, office 405</p>

                <hr class="my-3">

                <p><strong>Correspondent banks</strong></p>
                <p><strong>Account in the correspondent bank: </strong>001-1-000080</p>
                <p><strong>SWIFT Code of the correspondent bank: </strong>CHASUS33</p>
                <p><strong>Correspondent bank: </strong>JP Morgan Chase Bank, New York, USA</p>
            </div>
        </div>
        <hr class="mt-4 mb-4">
        <div class="row">
            <div class="col-md-3">
                <p>підрозділ</p>
            </div>
            <div class="col-md-6 text-center">
                <!-- You can add content here if needed -->
            </div>
            <div class="col-md-3 text-right">
                <p>Закупівлі</p>
            </div>
        </div>

        <hr class="mt-3 mb-4">

        <div class="row">
            <div class="col-md-12 text-center">
                <p class="mb-1">Статут фонду</p>
                <p class="mb-1">Мапа сайту</p>
                <p class="mb-0">© 2024</p>
            </div>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/your-font-awesome-kit-id.js"></script>

