
@{
    ViewData["Title"] = "Donations";
}

<h1>Donations</h1>
<footer class="bg-dark text-light">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>Phone: +38063 141 6520</p>
                <p>Email: vlasovii@gmail.com</p>
            </div>
            <div class="col-md-4">
                <h5>Banking Details</h5>
                <p>Moto Bank: 5309 2177 2321 5298</p>
                <p>UNISEN Bank: 5228 7755 1393 4024</p>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <a href="#" class="text-light"><i class="fab fa-facebook"></i></a>
                <a href="#" class="text-light"><i class="fab fa-twitter"></i></a>
                <!-- Add more social icons as needed -->
            </div>
        </div>
    </div>
</footer>

