@{
    ViewBag.Title = "Home Page";
}



<div class="container"></div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Welcome to Revansh</h1>
        <h1 class="text-center">Welcome to Revansh</h1>

        <h1 class="text-center">Welcome to Revansh</h1>

            <p class="text-center">Revansh is a non-profit organization that helps children in need.</p>
        </div>

    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Donations">
        <div class=" d-flex justify-content-center align-items-center">
            <div class="glitch"></div>
        </div>
    </a>
    </div>




