@{
    ViewBag.Title = "Home Page";
}



<div class="container"></div>
    <div class="row">
        <div class="col-md-12">
        <h1 class="text-center mt-5 mb-5 pb-5">@Localizer["Welcome"]</h1>
        <p class="text-center mt-5 pt-5">@Localizer["Click"]</p>
    </div>

    <div class="center-container">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Donations">
            <div class="d-flex justify-content-center align-items-center">
                <div class="glitch"></div>
            </div>
        </a>
    </div>

</div>




